// ------------------------------------------------------------------------ Less
@blue: #1f8dd6;
@darkBlue: #09293e;
@lightGrey: #bbb;
@grey: #999;

.textShadow (@color: #333) {
    text-shadow: 1px 1px 2px @color;
}

.a(@color, @hoverColor) {
    color: @color;
    text-decoration: none;

    &:link,
    &:visited,
    &:active {
        color: @color;
    }
    &:hover,
    &:focus {
        color: @hoverColor;
    }
}

.transition(@transitionProperty, @transitionTime, @transitionEase) {
    -webkit-transition: @transitionProperty @transitionTime @transitionEase;
    -moz-transition: @transitionProperty @transitionTime @transitionEase;
    -o-transition: @transitionProperty @transitionTime @transitionEase;
    transition: @transitionProperty @transitionTime @transitionEase;
}

.boxSizing(@value) {
    -webkit-box-sizing: @value;
    -moz-box-sizing: @value;
    -o-box-sizing: @value;
    box-sizing: @value;
}

// --------------------------------------------------------------------- General
@import url(highlight.css);
@import url(fonts.css);

.highlightFont {
    font-family: "Fira Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 200;
}

.normalFont {
    font-family: "Fira Sans", sans-serif;
    font-weight: normal;
}

.codeFont {
    font-family: "Fira Mono", "Monaco", monospace;
    font-weight: normal;
}

* {
    text-rendering: optimizeLegibility;
    .boxSizing(border-box);
    .transition(color, .20s, ease-out);
    .normalFont;
}

h1, h2, h3, h4, h5, h6 {
    .highlightFont;
    a {
        .highlightFont;
    }
}

// ---------------------------------------------------------------------- Layout
#layout {
    @sidebarWidth: 25%;

    padding-left: @sidebarWidth; /* "left col (nav + list)" width */
    position: relative;

    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: @sidebarWidth;
        margin-left: -@sidebarWidth;

        background-color: @darkBlue;

        a#toggle-blog-navigation {
            display: none;
        }

        #blog-header {
            margin: 5em 1em 0 0;
            text-align: right;

            a {
                .a(white, @blue);
                .textShadow;
            }
            .textShadow;

            hgroup {
                h1 {
                }
                h2 {
                    color: @blue;
                }
            }

            #blog-navigation {
                font-size: 1.2em;

                ul#blog-internal-links {
                    li {
                        &.current {

                        }
                    }
                }
                ul#blog-rel-me-links {
                    li {
                        display: inline;
                        margin: 0.5em;
                    }
                }
            }
        }
    }

    #main {
        #blog-content {
            margin: 1.5em 1em 0;

            section.post-summary {
                header {
                    h1 {

                    }

                    div.post-icon {

                    }
                    p.post-meta {
                        a.post-tag {

                        }
                    }
                }

                &.post-latest {

                }
            }

            section.post {
                header {
                    // TODO
                }

                div.post-body {
                    // TODO
                }
            }

            section.page {
                header {
                    // TODO
                }

                div.page-body {
                    // TODO
                }
            }

            section#blog-archive {
                h2 {
                    // TODO
                }
                h3 {
                    // TODO
                }
                ul {
                    // TODO
                }
            }

            #blog-paginator {

            }
        }

        #blog-footer {
            .highlightFont;

            text-align: center;
            padding: 1em 0;
            text-transform: uppercase;
            zoom: 1;
            font-size: 0.7em;
            color: @lightGrey;

            span {
                white-space: nowrap;
            }

            a {
                font-weight: bold;
                .a(@grey, @darkBlue);
            }
        }
    }
}

// --------------------------------------------------------------- Media Queries
@media (max-width: 768px) {
    #layout {
        padding: 0;

        #sidebar {
            width: 100%;
            position: relative;
            margin: 0;

            a#toggle-blog-navigation {
                display: block;
                .a(white, @blue);
                padding: 0.4em 0.5em 0;
                font-size: 1.5em;
                text-align: right;
            }

            #blog-header {
                text-align: center;
                top: auto;
                margin: -2em 0 0;
                position: static;

                #blog-navigation {
                    display: none;
                    &.open {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    #layout {
        #main {
            #blog-content {
                padding: 1em 1em 0;
            }
        }
    }
}



