@import url(highlight.css);
.highlightFont {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}
.normalFont {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: normal;
}
.codeFont {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-weight: normal;
  line-height: 1.4em;
  color: #444;
  box-sizing: border-box;
  border-collapse: collapse;
  background-color: #f0f7fc;
  overflow-wrap: break-word;
  border-radius: 5px;
}
* {
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}
div.highlight,
code,
pre {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-weight: normal;
  line-height: 1.4em;
  color: #444;
  box-sizing: border-box;
  border-collapse: collapse;
  background-color: #f0f7fc;
  overflow-wrap: break-word;
  border-radius: 5px;
}
div.highlight span,
code span,
pre span {
  font-family: inherit;
}
#layout {
  padding-left: 30%;
  /* "left col (nav + list)" width */
  position: relative;
}
#layout #sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30%;
  margin-left: -30%;
  background: #09293e;
}
#layout #sidebar a#toggle-navigation {
  display: none;
}
#layout #sidebar #header {
  padding: 0 1.2em;
  text-align: right;
  font-size: 1.5em;
}
#layout #sidebar #header a {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  display: block;
}
#layout #sidebar #header a:link,
#layout #sidebar #header a:visited,
#layout #sidebar #header a:active {
  color: white;
}
#layout #sidebar #header a:hover,
#layout #sidebar #header a:focus {
  color: #1f8dd6;
}
#layout #sidebar #header hgroup h2 {
  color: #1f8dd6;
  font-size: 1.2em;
}
#layout #sidebar #header #navigation ul {
  padding: 0;
}
#layout #sidebar #header #navigation ul#internal-links {
  font-size: 1.1em;
}
#layout #sidebar #header #navigation ul#internal-links li a {
  padding: 0.2em 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}
#layout #sidebar #header #navigation ul#internal-links li.current a {
  color: #1f8dd6;
}
#layout #sidebar #header #navigation ul#rel-me-links {
  font-size: 1.2em;
}
#layout #sidebar #header #navigation ul#rel-me-links li {
  display: inline-block;
  padding: 0.2em;
}
#layout #main {
  background-color: white;
  max-width: 900px;
}
#layout #main #content a {
  color: #1f8dd6;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
#layout #main #content a:link,
#layout #main #content a:visited,
#layout #main #content a:active {
  color: #1f8dd6;
}
#layout #main #content a:hover,
#layout #main #content a:focus {
  color: #09293e;
}
#layout #main #content .entry {
  padding: 1em 0;
  border-bottom: 1px solid #e0f0fb;
}
#layout #main #content .entry .title {
  color: #1f8dd6;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  margin-top: 0;
}
#layout #main #content .entry .title a {
  color: #1f8dd6;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-weight: inherit;
}
#layout #main #content .entry .title a:link,
#layout #main #content .entry .title a:visited,
#layout #main #content .entry .title a:active {
  color: #1f8dd6;
}
#layout #main #content .entry .title a:hover,
#layout #main #content .entry .title a:focus {
  color: #09293e;
}
#layout #main #content .entry .meta {
  font-size: 0.9em;
  list-style: none;
  color: #777;
  line-height: 1.5em;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#layout #main #content .entry .meta i {
  color: #d4d4d4;
}
#layout #main #content .entry .body {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 1.5em;
  text-align: justify;
}
#layout #main #content .entry .body p {
  padding-left: 20px;
  padding-right: 20px;
}
#layout #main #content .entry .body ul,
#layout #main #content .entry .body ol {
  padding-left: 20px;
  padding-right: 20px;
  padding-left: 55px;
}
#layout #main #content .entry .body img,
#layout #main #content .entry .body iframe,
#layout #main #content .entry .body object {
  -o-box-shadow: 0 2px 10px #d4d4d4;
  -moz-box-shadow: 0 2px 10px #d4d4d4;
  -webkit-box-shadow: 0 2px 10px #d4d4d4;
  box-shadow: 0 2px 10px #d4d4d4;
  display: block;
  margin: 1em auto 1em;
}
#layout #main #content .entry .body code {
  padding: 2px 5px;
  border: 1px solid #e1e1e1;
}
#layout #main #content .entry .body a code {
  color: #1f8dd6;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
#layout #main #content .entry .body a code:link,
#layout #main #content .entry .body a code:visited,
#layout #main #content .entry .body a code:active {
  color: #1f8dd6;
}
#layout #main #content .entry .body a code:hover,
#layout #main #content .entry .body a code:focus {
  color: #09293e;
}
#layout #main #content .entry .body .img {
  color: #bbb;
  text-align: center;
  font-style: italic;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}
#layout #main #content .entry .body .img span {
  color: #444;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0;
  display: block;
  text-align: center;
  width: 100%;
}
#layout #main #content .entry .body .highlight {
  -o-box-shadow: 0 2px 10px #d4d4d4;
  -moz-box-shadow: 0 2px 10px #d4d4d4;
  -webkit-box-shadow: 0 2px 10px #d4d4d4;
  box-shadow: 0 2px 10px #d4d4d4;
  font-size: 1em;
  line-height: 1.2em;
}
#layout #main #content .entry .body .highlight pre {
  padding: 1em 1em;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  border: 1px solid #e1e1e1;
}
#layout #main #content .entry .body .highlight pre code {
  display: block;
  border: none;
}
#layout #main #content .entry .body h1,
#layout #main #content .entry .body h2,
#layout #main #content .entry .body h3,
#layout #main #content .entry .body h4,
#layout #main #content .entry .body h5,
#layout #main #content .entry .body h6 {
  padding-left: 20px;
  padding-right: 20px;
  color: #777;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #09293e;
}
#layout #main #content .entry .body h1,
#layout #main #content .entry .body h2,
#layout #main #content .entry .body h3 {
  font-weight: 200;
}
#layout #main #content .entry .body blockquote {
  margin-left: 50px;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #777;
}
#layout #main #content .entry .body blockquote p {
  padding: 0;
}
#layout #main #content .entry .body blockquote:before,
#layout #main #content .entry .body blockquote::before {
  content: "\f10d";
  font-family: "FontAwesome";
  float: left;
  color: #e1e1e1;
  font-size: 30px;
  margin-top: 0px;
  margin-left: -40px;
}
#layout #main #content .entry .body table {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
#layout #main #content .entry .body table tr {
  border-top: 1px solid #d4d4d4;
  background-color: white;
  margin: 0;
  padding: 0;
}
#layout #main #content .entry .body table tr:nth-child(2n) {
  background-color: #f2f9fd;
}
#layout #main #content .entry .body table tr th {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  color: #1f8dd6;
  background-color: #e0f0fb;
  font-weight: bold;
  border: 1px solid #d4d4d4;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
  text-align: center;
}
#layout #main #content .entry .body table tr td {
  border: 1px solid #d4d4d4;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
#layout #main #content .entry .body table tr th :first-child,
#layout #main #content .entry .body table tr td :first-child {
  margin-top: 0;
}
#layout #main #content .entry .body table tr th :last-child,
#layout #main #content .entry .body table tr td :last-child {
  margin-bottom: 0;
}
#layout #main #content .entry .body .archive .years {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  color: #d4d4d4;
  text-align: center;
  font-size: 1.1em;
}
#layout #main #content .entry .body .archive .year {
  color: #d4d4d4;
  font-weight: bold;
}
#layout #main #content .entry .body .archive .years-separator {
  border: none;
  height: 1px;
  background: #09293e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #09293e 0%, #ffffff 50%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #09293e 0%, #ffffff 50%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #09293e 0%, #ffffff 50%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
}
#layout #main #content .entry .body .archive .month {
  padding: 0 0.3em;
}
#layout #main #content .entry .body .archive .month h3 {
  background: none;
  color: #444;
  box-shadow: none;
  padding: 0;
  border: none;
  font-size: 1.5em;
}
#layout #main #content .entry .body .archive .month .day {
  color: #d4d4d4;
  font-weight: bold;
}
#layout #main #content .entry .body .archive .month ul {
  text-align: left;
  font-size: 1.1em;
  list-style: none;
  padding: 0;
}
#layout #main #content .entry .comments {
  margin: 2em 0;
  padding-left: 20px;
  padding-right: 20px;
}
#layout #main #content .entry.summary .body {
  color: #444;
}
#layout #main #content .entry.summary .body .readmore {
  font-style: italic;
}
#layout #main #content .entry.full {
  margin-bottom: 0;
  border-bottom: 0;
}
#layout #main #content .entry.full .body {
  font-size: 1.1em;
}
#layout #main #content #paginator {
  font-size: 1.1em;
  margin: 0.5em 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}
#layout #main #content #paginator div a {
  display: block;
  padding: 1em;
}
#layout #main #footer {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #777;
  text-shadow: 0 1px 1px #fafafa;
}
#layout #main #footer span {
  white-space: nowrap;
}
#layout #main #footer a {
  font-weight: bold;
  color: #777;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
#layout #main #footer a:link,
#layout #main #footer a:visited,
#layout #main #footer a:active {
  color: #777;
}
#layout #main #footer a:hover,
#layout #main #footer a:focus {
  color: #09293e;
}
@media (max-width: 768px) {
  #layout {
    padding: 0;
  }
  #layout #sidebar {
    width: 100%;
    position: relative;
    margin: 0;
  }
  #layout #sidebar a#toggle-navigation {
    display: inline-block;
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    padding: 0.4em 0.6em;
    font-size: 1.5em;
    float: right;
  }
  #layout #sidebar a#toggle-navigation:link,
  #layout #sidebar a#toggle-navigation:visited,
  #layout #sidebar a#toggle-navigation:active {
    color: white;
  }
  #layout #sidebar a#toggle-navigation:hover,
  #layout #sidebar a#toggle-navigation:focus {
    color: #1f8dd6;
  }
  #layout #sidebar #header {
    text-align: center;
    top: auto;
    margin: 0 3em;
    position: static;
    font-size: 1em;
  }
  #layout #sidebar #header hgroup h1 {
    font-size: 1.5em;
  }
  #layout #sidebar #header #navigation {
    display: none;
  }
  #layout #sidebar #header #navigation.open {
    display: block;
  }
  #layout #main #content .entry .body .highlight {
    font-size: 0.8em;
  }
}
