// ------------------------------------------------------------------------ Less
@blue: #1f8dd6;
@lightBlue: #f8f9ff;
@darkBlue: #09293e;
@grey: #999;
@lightGrey: #bbb;
@lighterGrey: lighten(@lightGrey, 10%);
@evenLighterGrey: lighten(@lightGrey, 15%);
@darkGrey: #666;
@ultraLightGrey: #fafafa;

.boxShadowHighlight (@color: @grey) {
    -o-box-shadow: 0 2px 4px @color;
    -moz-box-shadow: 0 2px 4px @color;
    -webkit-box-shadow: 0 2px 4px @color;
    box-shadow: 0 2px 4px @color;
}

.a(@color, @hoverColor) {
    color: @color;
    text-decoration: none;

    &:link,
    &:visited,
    &:active {
        color: @color;
    }
    &:hover,
    &:focus {
        color: @hoverColor;
    }
}

.transition(@transitionProperty, @transitionTime, @transitionEase) {
    -webkit-transition: @transitionProperty @transitionTime @transitionEase;
    -moz-transition: @transitionProperty @transitionTime @transitionEase;
    -o-transition: @transitionProperty @transitionTime @transitionEase;
    transition: @transitionProperty @transitionTime @transitionEase;
}

.boxSizing(@value) {
    -webkit-box-sizing: @value;
    -moz-box-sizing: @value;
    -o-box-sizing: @value;
    box-sizing: @value;
}

.linearGradient(@dir: top, @color1, @color2, @stop1: 0, @stop2: 100%) {
    background-color: @color1;
    background-image: -webkit-linear-gradient(@dir, @color1 @stop1, @color2 @stop2);
    background-image: -moz-linear-gradient(@dir, @color1 @stop1, @color2 @stop2);
    background-image: -o-linear-gradient(@dir, @color1 @stop1, @color2 @stop2);
    background-image: -ms-linear-gradient(@dir, @color1 @stop1, @color2 @stop2);
    background-image: linear-gradient(@dir, @color1 @stop1, @color2 @stop2);
}

// --------------------------------------------------------------------- General
@import url(highlight.css);

.highlightFont {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
}

.normalFont {
    // font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-family: "Georgia", serif;
    font-weight: normal;
}

.codeFont {
    font-family: "Consolas", "Liberation Mono", "Monaco", Courier, monospace;
    font-weight: normal;
    line-height: 1.5em;
}

* {
    text-rendering: optimizeLegibility;
    .boxSizing(border-box);
}

h1, h2, h3, h4, h5, h6 {
    .highlightFont;
    a {
        .highlightFont;
    }
}

div.highlight, code, pre {
    .codeFont;

    span {
        font-family: inherit;
    }
}

// ---------------------------------------------------------------------- Layout
#layout {
    @sidebarWidth: 30%;

    padding-left: @sidebarWidth; /* "left col (nav + list)" width */
    position: relative;

    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: @sidebarWidth;
        margin-left: -@sidebarWidth;

        .linearGradient(to bottom, @darkBlue, darken(@darkBlue, 5%), 60%);

        a#toggle-navigation {
            display: none;
        }

        #header {
            padding: 0 1.2em;
            text-align: right;

            a {
                .a(white, @blue);
                display: block;
            }

            font-size: 1.5em;

            hgroup {
                h2 {
                    color: @blue;
                    font-size: 1.2em;
                }
            }

            #navigation {
                ul {
                    padding: 0;

                    &#internal-links {
                        font-size: 1.1em;

                        li {
                            a {
                                padding: 0.2em 0;
                                .highlightFont;
                            }
                            &.current {
                                a {
                                    color: @blue;
                                }
                            }
                        }
                    }
                    &#rel-me-links {
                        font-size: 1.3em;

                        li {
                            display: inline-block;
                            padding: 0.2em;
                        }
                    }
                }
            }
        }
    }

    #main {
        .linearGradient(to bottom, @lightBlue, white, 80%);

        #content {

            a {
                .a(@blue, @darkBlue);
            }

            .entry {
                .horizPaddings(@amount: 20px) {
                    padding-left: @amount;
                    padding-right: @amount;
                }

                margin-bottom: 1.2em;

                .title {
                    color: @blue;
                    .horizPaddings;
                }
                .meta {
                    font-size: 0.9em;
                    list-style: none;
                    color: @grey;
                    line-height: 1.5em;
                    .horizPaddings;
                    margin-top: 0.5em;
                    margin-bottom: 0.5em;

                    i {
                        color: @lighterGrey;
                    }
                }
                .body {
                    .normalFont;

                    line-height: 1.5em;
                    text-align: justify;

                    p {
                        .horizPaddings;
                    }

                    ul, ol {
                        .horizPaddings;
                        padding-left: 55px;
                    }

                    img,
                    iframe,
                    object {
                        .boxShadowHighlight;

                        display: block;
                        margin: 2em auto 1em;
                    }

                    .img {
                        color: @lightGrey;
                        text-align: center;
                        font-style: italic;
                    }

                    .highlight {
                        .boxShadowHighlight;

                        font-size: 0.9em;
                        line-height: 1.2em;
                        border-top: 1px solid @lightGrey;
                        border-bottom: 1px solid @lightGrey;

                        pre {
                            padding: 1em 0.5em;
                            overflow: auto;
                            word-wrap: normal;
                            white-space: pre;

                            code {
                                display: block;
                            }
                        }
                    }

                    h1, h2, h3, h4, h5, h6 {
                        .horizPaddings;
                        background: @darkBlue;
                        .boxShadowHighlight;
                        color: white;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }

                    h4, h5, h6 {
                        border-bottom: 1px solid @evenLighterGrey;
                        color: @grey;
                    }

                    blockquote {
                        margin-left: 50px;
                        margin-right: 0;
                        .horizPaddings;

                        color: @grey;

                        p {
                            padding: 0;
                        }

                        &:before,
                        &::before {
                            content: "\f10d";
                            font-family: "FontAwesome";
                            float: left;
                            color: @evenLighterGrey;
                            font-size: 30px;
                            margin-top: 0px;
                            margin-left: -40px;
                        }
                    }

                    .archive {
                        .years {
                            .highlightFont;
                            color: @lighterGrey;
                            text-align: center;
                        }
                        .year {
                            color: @lighterGrey;
                            font-weight: bold;
                        }
                        .years-separator {
                            border-top: 1px solid @lightGrey;
                        }
                        .month {
                            padding: 0 0.3em;

                            h3 {
                                background: none;
                                color: @darkGrey;
                                box-shadow: none;
                                padding: 0;
                            }

                            .day {
                                color: @lighterGrey;
                                font-weight: bold;
                            }

                            ul {
                                text-align: left;
                                font-size: 0.8em;
                                list-style: none;
                                padding: 0;
                            }
                        }
                    }
                }
                .comments {
                    margin: 2em 0;
                    .horizPaddings;
                }

                &.summary {
                    .body {
                        color: @darkGrey;
                    }
                }
                &.full {
                    margin-bottom: 0;

                    .body {
                        font-size: 1.1em;
                    }
                }
            }

            #paginator {
                font-size: 1.1em;
                margin: 0.5em 0;
                text-align: center;
                text-transform: uppercase;
                .highlightFont;

                div {
                    a {
                        display: block;
                        padding: 1em;
                    }
                }
            }
        }

        #footer {
            .highlightFont;

            text-align: center;
            text-transform: uppercase;
            font-size: 0.8em;
            color: @grey;
            text-shadow: 0 1px 1px @ultraLightGrey;

            span {
                white-space: nowrap;
            }

            a {
                font-weight: bold;
                .a(@grey, @darkBlue);
            }
        }
    }
}

// --------------------------------------------------------------- Media Queries
@media (max-width: 768px) {
    #layout {
        padding: 0;

        #sidebar {
            width: 100%;
            position: relative;
            margin: 0;

            a#toggle-navigation {
                display: inline-block;
                .a(white, @blue);
                padding: 0.4em 0.6em;
                font-size: 1.5em;
                float: right;
            }

            #header {
                text-align: center;
                top: auto;
                margin: 0 3em;
                position: static;
                font-size: 1em;

                hgroup h1 {
                    font-size: 1.5em;
                }

                #navigation {
                    display: none;
                    &.open {
                        display: block;
                    }
                }
            }
        }

        #main {
            #content {
                .entry {
                    .body {
                        .highlight {
                            font-size: 0.7em;
                        }
                    }
                }
            }
        }
    }
}
