@import url(highlight.css);

@import url(fonts.css);
.highlightFont {
  font-family: "Fira Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
}
.normalFont {
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
}
.codeFont {
  font-family: "Consolas", "Liberation Mono", Courier, monospace;
  font-weight: normal;
}
* {
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-family: "Fira Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
}
div.highlight,
code,
pre {
  font-family: "Consolas", "Liberation Mono", Courier, monospace;
  font-weight: normal;
}
div.highlight *,
code *,
pre * {
  font-family: inherit;
}
#layout {
  padding-left: 25%;
  /* "left col (nav + list)" width */

  position: relative;
}
#layout #sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 25%;
  margin-left: -25%;
  background-color: #09293e;
  background-image: -webkit-linear-gradient(to bottom, #09293e 60%, #000000 100%);
  background-image: -moz-linear-gradient(to bottom, #09293e 60%, #000000 100%);
  background-image: -o-linear-gradient(to bottom, #09293e 60%, #000000 100%);
  background-image: -ms-linear-gradient(to bottom, #09293e 60%, #000000 100%);
  background-image: linear-gradient(to bottom, #09293e 60%, #000000 100%);
}
#layout #sidebar a#toggle-blog-navigation {
  display: none;
}
#layout #sidebar #blog-header {
  margin: 4em 1em 0 0;
  text-align: right;
  text-shadow: 1px 1px 2px #666666;
  font-size: 1.3em;
}
#layout #sidebar #blog-header a {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 2px #666666;
  display: block;
}
#layout #sidebar #blog-header a:link,
#layout #sidebar #blog-header a:visited,
#layout #sidebar #blog-header a:active {
  color: #ffffff;
}
#layout #sidebar #blog-header a:hover,
#layout #sidebar #blog-header a:focus {
  color: #1f8dd6;
}
#layout #sidebar #blog-header hgroup h2 {
  color: #1f8dd6;
  font-style: italic;
}
#layout #sidebar #blog-header #blog-navigation ul {
  padding: 0;
}
#layout #sidebar #blog-header #blog-navigation ul#blog-internal-links {
  font-size: 1.1em;
}
#layout #sidebar #blog-header #blog-navigation ul#blog-internal-links li a {
  padding: 0.2em;
  font-family: "Fira Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
}
#layout #sidebar #blog-header #blog-navigation ul#blog-internal-links li.current a {
  color: #1f8dd6;
}
#layout #sidebar #blog-header #blog-navigation ul#blog-rel-me-links {
  font-size: 1.3em;
}
#layout #sidebar #blog-header #blog-navigation ul#blog-rel-me-links li {
  display: inline-block;
  padding: 0.2em;
}
#layout #main {
  background-color: #fafbff;
  background-image: -webkit-linear-gradient(to bottom, #fafbff 70%, #ffffff 100%);
  background-image: -moz-linear-gradient(to bottom, #fafbff 70%, #ffffff 100%);
  background-image: -o-linear-gradient(to bottom, #fafbff 70%, #ffffff 100%);
  background-image: -ms-linear-gradient(to bottom, #fafbff 70%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #fafbff 70%, #ffffff 100%);
}
#layout #main #blog-content {
  margin: 1.5em 1em 0;
}
#layout #main #blog-content a {
  color: #1f8dd6;
  text-decoration: none;
}
#layout #main #blog-content a:link,
#layout #main #blog-content a:visited,
#layout #main #blog-content a:active {
  color: #1f8dd6;
}
#layout #main #blog-content a:hover,
#layout #main #blog-content a:focus {
  color: #09293e;
}
#layout #main #blog-content section.page,
#layout #main #blog-content section.post,
#layout #main #blog-content section.post-summary {
  padding: 0.2em 0.5em;
}
#layout #main #blog-content section.page header h1,
#layout #main #blog-content section.post header h1,
#layout #main #blog-content section.post-summary header h1 {
  margin: 0.1em 0;
  color: #1f8dd6;
  text-shadow: 1px 1px 2px #dddddd;
}
#layout #main #blog-content section.page header h1 a,
#layout #main #blog-content section.post header h1 a,
#layout #main #blog-content section.post-summary header h1 a {
  display: block;
}
#layout #main #blog-content section.page header p.post-meta,
#layout #main #blog-content section.post header p.post-meta,
#layout #main #blog-content section.post-summary header p.post-meta {
  color: #bbbbbb;
  font-size: 0.9em;
  line-height: 1.3em;
}
#layout #main #blog-content section.page header p.post-meta a.post-tag,
#layout #main #blog-content section.post header p.post-meta a.post-tag,
#layout #main #blog-content section.post-summary header p.post-meta a.post-tag {
  white-space: nowrap;
}
#layout #main #blog-content section.page div.page-body,
#layout #main #blog-content section.post div.page-body,
#layout #main #blog-content section.post-summary div.page-body,
#layout #main #blog-content section.page div.post-body,
#layout #main #blog-content section.post div.post-body,
#layout #main #blog-content section.post-summary div.post-body {
  margin: 0 1em;
  font-size: 1.3em;
  line-height: 1.5em;
  text-align: justify;
}
#layout #main #blog-content section.page div.page-body h1,
#layout #main #blog-content section.post div.page-body h1,
#layout #main #blog-content section.post-summary div.page-body h1,
#layout #main #blog-content section.page div.post-body h1,
#layout #main #blog-content section.post div.post-body h1,
#layout #main #blog-content section.post-summary div.post-body h1,
#layout #main #blog-content section.page div.page-body h2,
#layout #main #blog-content section.post div.page-body h2,
#layout #main #blog-content section.post-summary div.page-body h2,
#layout #main #blog-content section.page div.post-body h2,
#layout #main #blog-content section.post div.post-body h2,
#layout #main #blog-content section.post-summary div.post-body h2,
#layout #main #blog-content section.page div.page-body h3,
#layout #main #blog-content section.post div.page-body h3,
#layout #main #blog-content section.post-summary div.page-body h3,
#layout #main #blog-content section.page div.post-body h3,
#layout #main #blog-content section.post div.post-body h3,
#layout #main #blog-content section.post-summary div.post-body h3 {
  text-align: center;
}
#layout #main #blog-content section.page div.page-body h4,
#layout #main #blog-content section.post div.page-body h4,
#layout #main #blog-content section.post-summary div.page-body h4,
#layout #main #blog-content section.page div.post-body h4,
#layout #main #blog-content section.post div.post-body h4,
#layout #main #blog-content section.post-summary div.post-body h4,
#layout #main #blog-content section.page div.page-body h5,
#layout #main #blog-content section.post div.page-body h5,
#layout #main #blog-content section.post-summary div.page-body h5,
#layout #main #blog-content section.page div.post-body h5,
#layout #main #blog-content section.post div.post-body h5,
#layout #main #blog-content section.post-summary div.post-body h5,
#layout #main #blog-content section.page div.page-body h6,
#layout #main #blog-content section.post div.page-body h6,
#layout #main #blog-content section.post-summary div.page-body h6,
#layout #main #blog-content section.page div.post-body h6,
#layout #main #blog-content section.post div.post-body h6,
#layout #main #blog-content section.post-summary div.post-body h6 {
  border-bottom: 1px solid #e1e1e1;
  color: #999999;
}
#layout #main #blog-content section.page div.page-body img,
#layout #main #blog-content section.post div.page-body img,
#layout #main #blog-content section.post-summary div.page-body img,
#layout #main #blog-content section.page div.post-body img,
#layout #main #blog-content section.post div.post-body img,
#layout #main #blog-content section.post-summary div.post-body img {
  -o-box-shadow: 0 2px 5px #bbbbbb;
  -moz-box-shadow: 0 2px 5px #bbbbbb;
  -webkit-box-shadow: 0 2px 5px #bbbbbb;
  box-shadow: 0 2px 5px #bbbbbb;
  display: block;
  margin: 2em auto;
}
#layout #main #blog-content section.page div.page-body div.highlight,
#layout #main #blog-content section.post div.page-body div.highlight,
#layout #main #blog-content section.post-summary div.page-body div.highlight,
#layout #main #blog-content section.page div.post-body div.highlight,
#layout #main #blog-content section.post div.post-body div.highlight,
#layout #main #blog-content section.post-summary div.post-body div.highlight {
  padding: 0.1em 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  -o-box-shadow: 0 2px 5px #bbbbbb;
  -moz-box-shadow: 0 2px 5px #bbbbbb;
  -webkit-box-shadow: 0 2px 5px #bbbbbb;
  box-shadow: 0 2px 5px #bbbbbb;
  background: #fafafa;
  border: 1px solid #c8c8c8;
  font-size: 0.7em;
  line-height: 1.2em;
}
#layout #main #blog-content section.page div.page-body blockquote,
#layout #main #blog-content section.post div.page-body blockquote,
#layout #main #blog-content section.post-summary div.page-body blockquote,
#layout #main #blog-content section.page div.post-body blockquote,
#layout #main #blog-content section.post div.post-body blockquote,
#layout #main #blog-content section.post-summary div.post-body blockquote {
  padding: 0.8em 0 0 0.5em;
  font-family: "Fira Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  color: #999999;
  border-left: 1px solid #e1e1e1;
}
#layout #main #blog-content section.page div.page-body blockquote:before,
#layout #main #blog-content section.post div.page-body blockquote:before,
#layout #main #blog-content section.post-summary div.page-body blockquote:before,
#layout #main #blog-content section.page div.post-body blockquote:before,
#layout #main #blog-content section.post div.post-body blockquote:before,
#layout #main #blog-content section.post-summary div.post-body blockquote:before,
#layout #main #blog-content section.page div.page-body blockquote::before,
#layout #main #blog-content section.post div.page-body blockquote::before,
#layout #main #blog-content section.post-summary div.page-body blockquote::before,
#layout #main #blog-content section.page div.post-body blockquote::before,
#layout #main #blog-content section.post div.post-body blockquote::before,
#layout #main #blog-content section.post-summary div.post-body blockquote::before {
  content: "\f10d";
  font-family: "FontAwesome";
  float: left;
  color: #e1e1e1;
  font-size: 2em;
  margin-top: -0.2em;
  margin-left: -1.5em;
}
#layout #main #blog-content section.page.post-latest,
#layout #main #blog-content section.post.post-latest,
#layout #main #blog-content section.post-summary.post-latest {
  margin: 2em 0 5em;
}
#layout #main #blog-content section.page.post-latest header h1,
#layout #main #blog-content section.post.post-latest header h1,
#layout #main #blog-content section.post-summary.post-latest header h1 {
  font-size: 3em;
}
#layout #main #blog-content section.page header,
#layout #main #blog-content section.post header {
  text-align: center;
  font-size: 1.2em;
  padding: 2em 0 3em;
  margin: 0;
  border-bottom: 1px solid #bbbbbb;
}
#layout #main #blog-content section.page header h1,
#layout #main #blog-content section.post header h1 {
  font-size: 3em;
}
#layout #main #blog-content section#blog-archive div.blog-archive-links {
  text-align: center;
  font-size: 1.2em;
}
#layout #main #blog-content section#blog-archive div.blog-archive-links a {
  padding: 0.5em;
}
#layout #main #blog-content section#blog-archive div.blog-archive-month {
  padding: 0.2em;
}
#layout #main #blog-content section#blog-archive div.blog-archive-month ul {
  text-align: justify;
  font-size: 0.8em;
  list-style: none;
  padding: 0;
}
#layout #main #blog-content section#blog-archive div.blog-archive-month ul li {
  margin: 0.1em;
}
#layout #main #blog-content section#blog-archive div.blog-archive-month ul li span.blog-archive-day {
  color: #999999;
}
#layout #main #blog-content #blog-paginator {
  font-size: 1.2em;
  margin: 1em 0;
  text-align: center;
}
#layout #main #blog-content #blog-paginator div a {
  display: block;
  padding: 1em;
}
#layout #main #blog-footer {
  font-family: "Fira Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  text-align: center;
  padding: 1em 0;
  text-transform: uppercase;
  zoom: 1;
  font-size: 0.7em;
  color: #bbbbbb;
}
#layout #main #blog-footer span {
  white-space: nowrap;
}
#layout #main #blog-footer a {
  font-weight: bold;
  color: #999999;
  text-decoration: none;
}
#layout #main #blog-footer a:link,
#layout #main #blog-footer a:visited,
#layout #main #blog-footer a:active {
  color: #999999;
}
#layout #main #blog-footer a:hover,
#layout #main #blog-footer a:focus {
  color: #09293e;
}
@media (max-width: 768px) {
  #layout {
    padding: 0;
  }
  #layout #sidebar {
    width: 100%;
    position: relative;
    margin: 0;
  }
  #layout #sidebar a#toggle-blog-navigation {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em 0.6em 0;
    font-size: 2em;
    text-align: right;
  }
  #layout #sidebar a#toggle-blog-navigation:link,
  #layout #sidebar a#toggle-blog-navigation:visited,
  #layout #sidebar a#toggle-blog-navigation:active {
    color: #ffffff;
  }
  #layout #sidebar a#toggle-blog-navigation:hover,
  #layout #sidebar a#toggle-blog-navigation:focus {
    color: #1f8dd6;
  }
  #layout #sidebar #blog-header {
    text-align: center;
    top: auto;
    margin: -1em 0 0;
    position: static;
  }
  #layout #sidebar #blog-header #blog-navigation {
    display: none;
  }
  #layout #sidebar #blog-header #blog-navigation.open {
    display: block;
  }
  #layout #main #blog-content {
    margin: 0.5em 0;
  }
  #layout #main #blog-content section.post-summary header {
    text-align: center;
    padding: 0.2em 0;
  }
  #layout #main #blog-content section.post-summary.post-latest {
    margin: 1em 0;
  }
  #layout #main #blog-content section.page header,
  #layout #main #blog-content section.post header {
    padding: 1em 0;
  }
  #layout #main #blog-content section.page header h1,
  #layout #main #blog-content section.post header h1 {
    font-size: 2em;
  }
  #layout #main #blog-content section.page div.page-body,
  #layout #main #blog-content section.post div.page-body,
  #layout #main #blog-content section.page div.post-body,
  #layout #main #blog-content section.post div.post-body {
    margin: 0;
  }
}
