/* CONTENT */
.post,
.page {
    margin: 3em 0;
}

.post-icon {
    font-size: 2.5em;
    float: right;
    color: #09293e;
}
.postpage .post-header,
.page-header {
    margin: 2em 0 3em;
    padding: 0 0 3em;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 130%;
}
.postpage .post-body,
.page-body {
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: #444;
}

.page-body h1,
.page-body h2,
.page-body h3,
.page-body h4,
.page-body h5,
.page-body h6,
.postpage .post-body h1,
.postpage .post-body h2,
.postpage .post-body h3,
.postpage .post-body h4,
.postpage .post-body h5,
.postpage .post-body h6 {
    text-align: center;
    color: #999;
}


.post-title,
.page-title {
    font-size: 2.0em;
    color: #09293e;
    margin: 0 0 0.3em;
    text-shadow: 1px 1px 2px #ccc;
}
.post-title a,
.post-title a:visited,
.post-title a:link {
    color: #09293e;
    text-decoration: none;
    display: block;
}
.post-title a:hover,
.post-title a:focus,
.post-title a:active {
    color: #1f8dd6;
}
.post-meta {
    color: #999;
    font-size: 0.9em;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

a.post-tag,
a.post-tag:visited,
a.post-tag:link {
    color: #bbb;
    white-space: nowrap;
    margin-right: 0.2em;
}
a.post-tag:hover,
a.post-tag:focus,
a.post-tag:active {
    color: #09293e;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.highlight
.highlight pre
.highlight pre code
.highlight pre code span {
    font-family: "Consolas", "Monaco", monospace !important;
}




/* MEDIA QUERIES */
@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
    }

    .blog-header {
        text-align: center;
        top: auto;
        margin: 0;
        position: static;
    }

    .nav-current {
        border-right: 0;
        padding-right: 0;
        margin-right: 0;
    }

    .nav-list,
    .nav-rel-me-list {
        margin: 0.4em 0;
    }

    #skeleton {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 2em 1em 0;
    }
}
