/*
clear blue: #1f8dd6
background blue: #09293e
*/

/* IMPORTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

/* GENERAL */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans Condensed", sans-serif;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: #1f8dd6;
    -webkit-transition: all .20s ease-out;
    -moz-transition: all .20s ease-out;
    -o-transition: all .20s ease-out;
    transition: all .20s ease-out;
}
a:hover,
a:focus,
a:active {
    text-decoration: underline;
    color: #09293e;
}

/* LAYOUT */
#skeleton {
    padding-left: 25%; /* "left col (nav + list)" width */
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 25%;
    margin-left: -25%;
    background: #09293e;
    color: #fff;
}

.sidebar a,
.sidebar a:visited,
.sidebar a:link {
    color: #fff;
    text-decoration: none;
}
.sidebar a:hover,
.sidebar a:focus,
.sidebar a:active {
    color: #1f8dd6;
    text-decoration: none;
}

/* HEADER */
.blog-header {
    margin: 20% 1.5em 0 0.1em;
    text-align: right;
    text-shadow: 1px 1px 2px #333;
}

.blog-title,
.blog-tagline {
    margin: 0;
}
.blog-title {
    font-size: 2.5em;
    text-transform: capitalize;
}
.blog-tagline {
    font-size: 1.2em;
    font-weight: lighter;
    color: #1f8dd6;
}

.nav-list {
    margin: 1.2em 0;
    padding: 0;
    list-style: none;
    font-size: 1.4em;
}
.nav-item {
    zoom: 1;
}
.nav-item a {
    display: block;
}
.nav-current {
    border-right: 2px solid #1f8dd6;
    padding-right: 12px;
    margin-right: -12px;
}
.nav-current a,
.nav-current a:visited,
.nav-current a:link {
    color: #1f8dd6;
}

.nav-rel-me-list {
    margin: 1.2em 0;
    padding: 0;
    list-style: none;
    font-size: 1.3em;
}
.nav-rel-me-list li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 0 .3em;
}
.nav-rel-me-list li a {
    display: block;
}

/* CONTENT */
.content {
    padding: 0em 5em;
}

.post {
    padding-bottom: 2em;
}
.post-icon {
    font-size: 2.5em;
    float: right;
    color: #09293e;
}
.post-title {
    font-size: 2.5em;
    font-weight: lighter;
    color: #09293e;
    margin-bottom: 0.2em;
}
.post-title a,
.post-title a:visited,
.post-title a:link {
    color: #09293e;
    text-decoration: none;
    display: block;
}
.post-title a:hover,
.post-title a:focus,
.post-title a:active {
    color: #1f8dd6;

}
.post-description {
    font-family: Georgia, "Cambria", serif;
    line-height: 1.8em;
    font-size: 1.2em;
    color: #09293e;
}
.post-meta {
    color: #999;
    font-size: 1em;
    margin: 0;
}

a.post-tag,
a.post-tag:visited,
a.post-tag:link {
    margin: 0 .1em;
    padding: 0 .5em;
    color: #fff;
    background: #ccc;
    text-decoration: none;
    letter-spacing: .1em;
    font-size: 0.8em;
    white-space:nowrap;
}
a.post-tag:hover,
a.post-tag:focus,
a.post-tag:active {
    background: #1f8dd6;
    text-decoration: none;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

/* FOOTER */
.footer {
    border-top: 1px solid #888;
    text-align: center;
    margin: 2em 0 0.5em;
    padding: 1em 0 0;
    text-transform: uppercase;
    opacity: 0.2;
    filter: alpha(opacity=20);
    zoom: 1;
}



/* MEDIA QUERIES */
@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
    }

    .blog-header {
        text-align: center;
        top: auto;
        margin: 1em auto;
        position: static;
    }

    #skeleton {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 2em 1em 0;
    }
}
