---
layout: default
navtitle: blog
---

<div class="pure-g-r">
    {% for post in paginator.posts %}

        {% include entry.html title=post.title url=post.url date=post.date body=post.content has_meta=true is_summary=true has_wordcount=false %}

    {% endfor %}
</div>

<div id="paginator" class="pure-g">
    {% if paginator.next_page and paginator.previous_page %}
        <div class="pure-u-1-2">
            <a href="{{ paginator.next_page_path }}"><i class="icon-angle-left"></i> previous</a>
        </div>
        <div class="pure-u-1-2">
            <a href="{{ paginator.previous_page_path }}">next <i class="icon-angle-right"></i></a>
        </div>
    {% elsif paginator.next_page %}
        <div class="pure-u-1">
            <a href="{{ paginator.next_page_path }}"><i class="icon-angle-left"></i> previous</a>
        </div>
    {% elsif paginator.previous_page %}
        <div class="pure-u-1">
            <a href="{{ paginator.previous_page_path }}">newer posts <i class="icon-angle-right"></i></a>
        </div>
    {% endif %}
</div>
