---
layout: default
navtitle: blog
---

<div class="pure-g-r">
    {% for post in paginator.posts %}

        {% if post == site.posts.first %}
            <section class="post-summary post-latest pure-u-1">
                <header>
                    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>

                    <p class="post-meta">
                        {{ post.date | date: "%A, %d %b %Y" }}
                        &nbsp;&nbsp;&nbsp;
                        {% for tag in post.tags %}
                            <a class="post-tag" href="#"><i class="icon-tag"></i> {{ tag }}</a>
                            {% if forloop.rindex > 1 %}&sdot;{% endif %}
                        {% endfor %}
                    </p>
                </header>
            </section>
        {% else %}
            <section class="post-summary pure-u-1-3">
                <header>
                    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>

                    {% if post.themeicon %}
                        <div class="post-icon"><i class="icon-{{ post.themeicon }}"></i></div>
                    {% endif %}

                    <p class="post-meta">
                        {{ post.date | date: "%d %b %Y" }}
                    </p>
                </header>
            </section>
        {% endif %}

    {% endfor %}
</div>

<div id="blog-paginator" class="pure-g">
    {% if paginator.next_page and paginator.previous_page %}
        <div class="pure-u-1-2">
            <a href="{{ paginator.next_page_path }}"><i class="icon-chevron-left"> older posts</i></a>
        </div>
        <div class="pure-u-1-2">
            <a href="{{ paginator.previous_page_path }}">newer posts <i class="icon-chevron-right"></i></a>
        </div>
    {% elsif paginator.next_page %}
        <div class="pure-u-1">
            <a href="{{ paginator.next_page_path }}"><i class="icon-chevron-left"> older posts</i></a>
        </div>
    {% elsif paginator.previous_page %}
        <div class="pure-u-1">
            <a href="{{ paginator.previous_page_path }}">newer posts <i class="icon-chevron-right"></i></a>
        </div>
    {% endif %}
</div>
