{% comment %}
include:
    url:
    title:
    date:
    tags:
    body:
    has_meta:
    has_disqus:
    is_summary:
    has_wordcount:
{% endcomment %}
<article class="entry {% if include.is_summary %}summary{% else %}full{% endif %} pure-u-1">
    <header>
        <h1 class="title">
            {% if include.url %}
                <a href="{{ include.url }}">{{ include.title }}</a>
            {% else %}
                {{ include.title }}
            {% endif %}
        </h1>
        {% if include.has_meta %}
            <ul class="meta">
                {% if include.date %}
                    <li>
                        <i class="icon-calendar"></i>
                        <time datetime="{{ include.date | date: "%Y-%m-%d" }}">{{ include.date | date: "%A, %d %b %Y" }}</time>
                    </li>
                {% endif %}

                {% if include.tags %}
                    <li>
                        <i class="icon-tags"></i>
                        {{ include.tags | join: ' &bull; ' }}
                    </li>
                {% endif %}

                {% if include.has_wordcount %}
                    <li>
                        <i class="icon-time"></i>
                        {{ include.body | strip_html | number_of_words }} words
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </header>
    {% if include.body %}
        <div class="body">
            {% if include.is_summary %}
                <p>
                    {{ include.body | strip_html | truncatewords: 80, "" }}
                    <a href="{{ include.url }}">... [read more]</a>
                </p>
            {% else %}
                {{ include.body }}
            {% endif %}
        </div>
    {% endif %}
    {% if include.has_disqus and site.disqus %}
        <div id="disqus_thread" class="comments"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = "{{ site.disqus.shortname }}";

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}
</article>
